p {
    color: rgb(44, 159, 236);
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

address {
    color: rgb(21, 66, 95);
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}