div {
    color: #3498db;
}
    
#logo {
    width: 4em;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@keyframes spin {
    100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); }
}
h1 {
    vertical-align: middle;
    display: inline-block;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blueviolet;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #fff;
    font-family: serif;
    font-size: 28px;
}