<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<img src="/assets/img/annuaire.png" id="logo">
<h1>Annuaire</h1>


<app-menu></app-menu>



<router-outlet></router-outlet>


<footer class="footer fixed-bottom">
    <p>  2023 FMS-EA Academy | &copy; Pastor Guillaume. All rights reserved. </p>
</footer>