p {
    color: rgb(7, 230, 7);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

div {
    color: rgb(68, 116, 68);
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 
}