p {
    color: rgb(47, 143, 207);
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
}


.img {
   
    border: 5px solid bisque;
    display: block;
    margin: 0 auto;
    width: 900px;
    height: 570px;
    transition: transform .1s;
}
.img:hover{
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);
    }